
.logopog {
  display: flex;
}

.headerthing {
  max-width: 80px;
  width: auto;
  padding-right: 25px;
  padding-top:5px;
  position: absolute;
  padding-left: 5px;

}

.logo {
  float: left;
  padding: 14px;
  position: absolute;
  display: block;
   font-size: 2vw;
   font-family: 'Montserrat', sans-serif;
  transition-duration: 0.4s;
 text-decoration: none;
 padding-top:25px;
 color: black;
 padding-left: 100px;

}
.logo:hover{
  background-color: transparent;
  color: #FF5733
}
.navright:hover{
  background-color: transparent;
  color: #FF5733
}



@media screen and (max-width: 300px) {
  .logo{
    font-size: 20px;
  }
}
@media screen and (min-width: 600px) {
  .logo {
    font-size: 30px;
  }
}
@media screen and (max-width: 300px) {
  .navright{
    font-size: 15px;
  }
}
@media screen and (min-width: 600px) {
  .navright {
    font-size: 25px;
  }
}

#navbar {
  overflow: hidden;
  background-color: #FFFFFF !important;
    z-index: 1;
    height: 80px;
    
  

}
.navright{
  float: right;
  padding: 14px;
  text-decoration: none;
  font-size: 1.3vw;
  padding-right: 30px;
  padding-top: 30px;
  font-family: 'Montserrat', sans-serif;
  transition-duration: 0.4s;
  color: black;
  font-weight: bold;
  
}


.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 14px;
}



body, html {
  height: 100%;
  margin: 0;
}




.container{
    position: relative;
    text-align: center;
 
}
.aboutmain {
	
  /* Set up proportionate scaling */
  width: 100%;
  max-height: 500px;
  object-fit:cover;
position: relative;
}

.inside{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 6vw;
  color: #2C312E;

}



.mission {
  font-style: italic;
  text-align: center;
  font-size: 15px;
  padding-right: 30%;
  padding-left: 30%;
  padding-top: 30px;
  padding-bottom: 20px;
}





.companydesc{
  display:flex;
}
h2{
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  font-size: 3vw;
  margin-left: 20%;
  padding-left: 30px;
  padding-top: 20px;

}


/* THIS IS THE MISSION STATEMENT */
article{
  padding-top: 60px;
  text-align: left;
  float: right;
  font-family: 'Raleway', sans-serif;
  font-size: 2.5vw;
  color: black;
  padding-right: 20%;
  padding-left: 40px;


}


@media screen and (max-width: 300px) {
  article{
    font-size: 15px;
  }
}
@media screen and (min-width: 601px) {
  article {
    font-size: 20px;
  }
}




.JAphoto {
  margin-left: 10%;
  margin-right: 10%;


  margin-bottom: 50px;
  padding-top: 10px;
  width: 80%;
}











.footer{
	display: inline-block;
	vertical-align: top;
  text-align: center;
}

.footer{
	background-color: #282B2C;
	box-sizing: border-box;
	width: 100%;

	padding: 30px 50px 60px 40px;
	margin-top: 80px;
}

.footerline{
  color: white;
}
.redirect{
  color: white;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
 transition-duration: 0.4s;
 text-decoration: none;
 padding: 10px;

}

.redirect:hover{
  background-color: transparent;
  color: #DAF7A6;
}
.email{
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-size: 15px;
    padding-top: 10px;
  padding-bottom: 10px;

}




.instagram{
  padding: 10px;
  display: inline-block;
  min-height: 10px;
  max-width: 30px;
  width: auto;
  color: white;
  filter: invert(50%);
}
.shopify{
  padding: 10px;
  display: inline-block;
  min-height: 10px;
  max-width: 30px;
  width: auto;
  color: white;
  filter: invert(85%);
}

.team {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  
  font-size: 3vw;

}
.teampic{
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
}