.logo {
    float: left;
    padding: 14px;
    position: absolute;
    display: block;
     font-size: 100x;
     font-family: 'Montserrat', sans-serif;
    transition-duration: 0.4s;
   text-decoration: none;
   height: 60px;
  }
  a:hover{
    background-color: white;
    color: #FF5733
  }
  
  
  
  
  
  #navbar {
    overflow: hidden;
    background-color: #FFFFFF !important;
      z-index: 1;
    
  
  }
  a{
    float: right;
    padding: 14px;
    text-decoration: none;
    font-size: 30px;
    padding-right: 30px;
    font-family: 'Montserrat', sans-serif;
    transition-duration: 0.4s;
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .sticky + .content {
    padding-top: 14px;
  }
  
  
  main{
    float:center;
    text-align:center;
  }
  
  h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    text-align: center
  }
  p{
    font-family: 'Ovo', serif;
    font-size: 20px;
    text-align:center;
    padding-bottom: 40px;
    margin-right: 25%;
    margin-left: 25%;
  }
  label{
     font-family: 'Ovo', serif;
  }
  /* Style inputs with type="text", select elements and textareas */
  input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical
    font-family: 'Ovo', serif; /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #DAF7A6;
    color: black;
    padding: 8px 20px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    border-radius: 4px;
    cursor: pointer;
   
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #F1C378;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding-right: 20%;
    padding-left: 20%;
  }