.logo {
    float: left;
    padding: 14px;
  }
  
  #navbar {
    overflow: hidden;
    background-color: #FFFFFF;
  }
  #navbar a{
    float: right;
    display: block;
    padding: 14px;
    text-decoration: none;
  }
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .sticky + .content {
    padding-top: 60px;
  }
  