
.logopog {
  display: flex;
}

.headerthing {
  max-width: 80px;
  width: auto;
  padding-right: 25px;
  padding-top:5px;
  position: absolute;
  padding-left: 5px;

}

.logo {
  float: left;
  padding: 14px;
  position: absolute;
  display: block;
   font-size: 2vw;
   font-family: 'Montserrat', sans-serif;
  transition-duration: 0.4s;
 text-decoration: none;
 padding-top:25px;
 color: black;
 padding-left: 100px;


}

.logo:hover{
  background-color: transparent;
  color: #FF5733
}
.navright:hover{
  background-color: transparent;
  color: #FF5733
}

@media screen and (max-width: 300px) {
  .logo{
    font-size: 20px;
  }
}
@media screen and (min-width: 600px) {
  .logo {
    font-size: 30px;
  }
}
@media screen and (max-width: 300px) {
  .navright{
    font-size: 15px;
  }
}
@media screen and (min-width: 600px) {
  .navright {
    font-size: 25px;
  }
}



#navbar {
  overflow: hidden;
  background-color: #FFFFFF;
    z-index: 1;
    height: 80px;
    
  

}
.navright{
  float: right;
  padding: 14px;
  text-decoration: none;
  font-size: 1.3vw;
  padding-right: 30px;
  padding-top: 30px;
  font-family: 'Montserrat', sans-serif;
  transition-duration: 0.4s;
  color: black;
  font-weight: bold;
  
}

@media screen and (max-width: 300px) {
  article{
    font-size: 20px;
  }
}


.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 14px;
}





.first {
width: 100%;
position: relative;
max-height: 800px;
object-fit: cover;
opacity: 0.8;

}


.container{
    position: relative;
    text-align: center;
 
}


.showcaselogo {
 
  left:50%;
  float: center;
  padding-top: 50px;
  width:60%;
  margin-left: 20%;
  margin-right: 20%;
  height: auto;
  object-fit: cover;
}




/*Back to normal now */



main h2 {
  font-size: 4.5vw;


  font-family: 'Raleway', sans-serif;
  color:#2C312E;
 position: absolute;
  top: 18%;
  left: 13%;
  right: 51%;
  text-align: left;
  font-weight: bold;
 
}


body, html {
  height: 100%;
  margin: 0;
}

  /* Set up proportionate scaling */

.title{
  font-family: 'Montserrat', sans-serif;
  float: center;
  font-size: 45px;
  text-align: center;
  


}
/* THIS IS THE MISSION STATEMENT */
article{

  text-align: center;
  float: center;
  font-family: 'Raleway', sans-serif;
  font-size: 2.5vw;
  color: black;
  padding-right: 20%;
  padding-left: 20%;
  padding-bottom: 20px;
}







@media screen and (max-width: 300px) {
  article{
    font-size: 15px;
  }
}
@media screen and (min-width: 601px) {
  article {
    font-size: 20px;
  }
}

a{
  text-decoration: none;
}

 .normalbutton{
   
  background-color:#DAF7A6;
  color: black;
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 8px;
  border:none;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  display:block; /* change this from inline-block */
    width:200px; /* setting the width */
    margin: auto; /* this will center  it */
    position:relative;
    text-decoration: none;
}
.normalbutton:hover{
  background-color: #F1C378 ;
  color: black;
}

.showcase1{
  left:50%;
  float: center;
  padding-top: 50px;
  width:80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 400px;
  object-fit: cover;
}



p{
  text-align: center;
  float:center;
}



.fade-in {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
}







.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  width: 100%;
   padding-top: 50px;


}

/* Create four equal columns that sits next to each other */
.gallery {
  -ms-flex: 33.333%; /* IE10 */
  flex: 33.333%;
  max-width: 33.333%;
 
}

.gallery img {
  
  vertical-align: middle;
  width: 100%;

}



/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .gallery {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}



























.footer{
	display: inline-block;
	vertical-align: top;
  text-align: center;
}

.footer{
	background-color: #282B2C;
	box-sizing: border-box;
	width: 100%;

	padding: 30px 50px 60px 40px;
	margin-top: 80px;
}

.footerline{
  color: white;
}
.redirect{
  color: white;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
 transition-duration: 0.4s;
 text-decoration: none;
 padding: 10px;

}

.redirect:hover{
  background-color: transparent;
  color: #DAF7A6;
}
.email{
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;

}




.instagram{
  padding: 10px;
  display: inline-block;
  min-height: 10px;
  max-width: 30px;
  width: auto;
  color: white;
  filter: invert(50%);
}
.shopify{
  padding: 10px;
  display: inline-block;
  min-height: 10px;
  max-width: 30px;
  width: auto;
  color: white;
  filter: invert(85%);
}
